* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

section {
    display: flex;
    flex-direction: column;
    height: 255px;
}

.black-square, #black-square {
    width: 100px;
    height: 100px;
    background-color: black;
}

button {
    position: relative;
    height: 50px;
    width: 150px;
    top: 50px;
    background-color: cadetblue;
}

.squares-block, .button-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button:checked #blacksquare {
    display: none;
}

.hidden {
    visibility: hidden;
}

.yellow-square {
    width: 100px;
    height: 100px;
    background-color: yellow;
}

.red-square {
    width: 50px;
    height: 50px;
    background-color: red;
    visibility: hidden;
}

.green-square {
    width: 50px;
    height: 20px;
    background-color: green;
    visibility: hidden;
}

.coordinates-block {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 200px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

.coordinates-subblock {
    display: flex;
    position: relative;
    flex-direction: row;
}

.three-blocks-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-around;
}

.three-blocks-wrapper div {
    position: relative;
    width: 20%;
    height: 100%;
    border: 5px dashed rgb(121, 2, 139);
}

.go-up-button {
    width: 60px;
    height: 60px;
    background-color: rgb(8, 152, 196);
    position: fixed;
    bottom: 20px;
    right: 20px;
    top: auto;
    border-radius: 50px;
    display: none;
}

.external-block {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: gold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.internal-block {
    position: relative;
    width: 120px;
    height: 120px;
    background-color:springgreen;
}

.grey-square {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: grey;
    opacity: 0.5;
    top: 0;
    display: none;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    position: relative;
    left: 30px;
    background: radial-gradient(circle at center, #ff7e5f, #feb47b);    width: 300px;
    height: 170px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(34, 139, 34, 0.1);
    color: white; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.custom-file-upload:hover {
    box-shadow: 0 8px 16px rgba(34, 139, 34, 0.2); 
    transform: scale(1.05) rotate(-1deg);
}

.file-upload-over {
    background: linear-gradient(90deg, black, white);
}
  
.file-upload-after-choose {
    background: linear-gradient(to right, #ff00ff, #00ffff);
}